<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">

    <!-- Define a test with a name -->
    <test name="successful order">
        <!-- Define the classes involved -->
        <classes>
            <!-- Class 1 with specific methods to run -->
            <class name="login.LoginTests">
                <methods>
                    <!-- Mention the specific methods to run from this class -->
                    <include name="testLogin"/>
                </methods>
            </class>

            <!-- Class 2 with specific methods to run -->
            <class name="addProduct.AddProductTests">
                <methods>
                    <include name="testAddMultipleProducts"/>
                </methods>
            </class>

            <!-- You can add more classes similarly -->
            <class name="placeorder.PlaceOrdersTests">
                <methods>
                    <include name="testPlacingOrder"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>